.Content{
  height: 500px;
  width: min(82vw, 500px);

  margin: 30px;
  
  display:flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align:center;

  color:gray;
  background-color:white;

  box-shadow:0 1px 3px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.1);
  border-radius: 15px;
  
}